html,body {
  margin: 0;
  padding: 0;
  margin-left: 3vw;
  color: whitesmoke;
  font-family: monospace;
  background-color: black;
  max-height: 100vh;
}

header {
  padding-top: 2vh;
  font-size: 2vh;
}

footer {
  padding-bottom: 2vh;
}

#__next {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

p {
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}

span.name {
  text-decoration: underline dotted pink;
  -webkit-text-decoration: underline dotted pink;
}

.links a {
  text-decoration: none;
  color: lightpink;
}

.links svg {
  vertical-align: middle;
  color: lightblue;
}